body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    min-height: 100vh;
    background-color: #69c4e3;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    text-align: center;
}

#container {
    padding-bottom: 10px;
}

table {
    background-color: #69c4e3;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

td {
    border: 1px solid #ddd;
    width: 20px;
    height: 20px;
}

span {
    color: #333;
}

.controls {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom right, #3498db, #2980b9);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background: linear-gradient(to bottom right, #2980b9, #3498db);
}

td.dead {
    background-color: #fff;
}

td.live {
    background-color: #69c4e3;
    border-radius: 50%;
}
